@font-face {
  font-family: 'GoudyOldStyle';
  src: url('fonts/GoudyOldStyle.ttf');
}

body {
  font-family: 'GoudyOldStyle', serif;
  background-color: #1a1a1a;
  color: #ffffff;
  padding: 40px;
}

.stats-container {
  display: grid;
  grid-template-columns: 120px 200px;
  gap: 8px;
  width: fit-content;
}